Scan Time: {{scan_time}}
Scan ID: {{scan_id}}
{%- for vulnerablehost in vulnerablehosts %}

==========================================
UUID: {{vulnerablehost.uuid}}
Address: {{vulnerablehost.ip}}
==========================================
{%- if vulnerablehost.credentials %}

Credentials
-----------
{%- for credential in vulnerablehost.credentials|print_it %}

Service:  {{credential.service}}
Port:     {{credential.port}}
User:     {{credential.user}}
Password: {{credential.password}}
{%- endfor %}
{%- endif %}
{%- if vulnerablehost.vulnerabilities %}

Vulnerabilities
---------------
{%- for vulnerability in vulnerablehost.vulnerabilities|print_it %}

Name:    {{vulnerability.name}}
Service: {{vulnerability.service}}
Port:    {{vulnerability.port}}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- if dump %}


===================
Vulnerability dump:
===================

+--------------------------------------+-----------------+-------------+--------+-----------+
|                 UUID                 |     Address     |   Service   |  Port  |   Name    |
+--------------------------------------+-----------------+-------------+--------+-----------+
{% for vulnerability in vulnerabilities|print_it -%}
| {{vulnerability.uuid}} | {{vulnerability.ip|pad_ip}} |{{vulnerability.service|center(13)}}| {{vulnerability.port|center(6)}} | {{vulnerability.name}} |
{% endfor -%}
+--------------------------------------+-----------------+-------------+--------+-----------+


================
Credential Dump:
================

+--------------------------------------+-----------------+-------------+--------+------------+--------------+
|                 UUID                 |     Address     |   Service   |  Port  |    User    |   Password   |
+--------------------------------------+-----------------+-------------+--------+------------+--------------+
{% for credential in credentials|print_it -%}
| {{credential.uuid}} | {{credential.ip|pad_ip}} |{{credential.service|center(13)}}| {{credential.port|center(6)}} | {{credential.user|center(10)}} | {{credential.password|center(12)}} |
{% endfor -%}
+--------------------------------------+-----------------+-------------+--------+------------+--------------+
{%- endif %}

Total Hosts: {{total}}
{%- if not list_boring %}
White-listed Hosts: {{white_listed}}
{%- endif %}
Vulnerable Hosts: {{vulnerablehosts|count}}
{%- if invalid_hosts %}
Invalid Hosts: {{invalid_host_count}}
{%- endif %}
