<ruby>
require 'set'

ports = Set.new()
protocols = Set.new()
search_term = 'nfs'
run_single("use auxiliary/scanner/nfs/nfsmount")
run_single("set THREADS 10")

framework.db.services(framework.db.workspace, true).each do |service|
    host = service.host
    next unless(
      host.attribute_names.any? { |a| host[a.intern].to_s.match(search_term)} or
      service.attribute_names.any? { |a| service[a.intern].to_s.match(search_term)}
    )
    ports.add service.port.to_i
    protocols.add service.proto.to_s
end
print_line("#{ports.to_a}")

ports.each do |port|
           protocols.each do |protocol|
           run_single("services -u -S '#{search_term}' -p #{port} -r #{protocol} -R")
           run_single("set RPORT #{port}")
           run_single("set PROTOCOL #{protocol}")
           run_single("run")
    end
end

</ruby>
